//- colors
$colorPrimary = #FF0048
$colorWhite = #fff
$colorDanger = $colorPrimary
$colorGrey = #6C6C6C
$colorBorderGrey = #585858
$colorBorderPrimary = #CF003A

// font-families
$ff = 'Arial', sans-serif

//- sizes
$fz1 = 14px
$fz2 = 16px
$fz3 = 20px

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $ff;
  font-size: $fz2;
}